
WindowsFormsApplication10/.vs/MotionProfile Mapper/v15/.suo
WindowsFormsApplication10/.vs/MotionProfile Mapper/v15/Server/sqlite3/storage.ide
WindowsFormsApplication10/.vs/MotionProfile Mapper/v15/Server/sqlite3/storage.ide-shm
WindowsFormsApplication10/WindowsFormsApplication10/bin/Debug/WindowsFormsApplication10.exe
WindowsFormsApplication10/WindowsFormsApplication10/bin/Debug/WindowsFormsApplication10.pdb
WindowsFormsApplication10/.vs/MotionProfile Mapper/v15/Server/sqlite3/storage.ide-wal
*.exe
WindowsFormsApplication10/.vs/MotionProfile Mapper/v15/Server/sqlite3/db.lock
WindowsFormsApplication10/WindowsFormsApplication10/bin/Debug/WindowsFormsApplication10.exe
WindowsFormsApplication10/WindowsFormsApplication10/bin/Debug/WindowsFormsApplication10.pdb
WindowsFormsApplication10/WindowsFormsApplication10/obj/Debug/DesignTimeResolveAssemblyReferences.cache
WindowsFormsApplication10/WindowsFormsApplication10/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WindowsFormsApplication10/WindowsFormsApplication10/obj/Debug/MP Mapper.csproj.CoreCompileInputs.cache
WindowsFormsApplication10/WindowsFormsApplication10/obj/Debug/MP Mapper.csproj.FileListAbsolute.txt
WindowsFormsApplication10/WindowsFormsApplication10/obj/Debug/MP Mapper.csproj.GenerateResource.Cache
WindowsFormsApplication10/WindowsFormsApplication10/obj/Debug/MP Mapper.csprojResolveAssemblyReference.cache
WindowsFormsApplication10/WindowsFormsApplication10/obj/Debug/WindowsFormsApplication10.exe
WindowsFormsApplication10/WindowsFormsApplication10/obj/Debug/WindowsFormsApplication10.pdb
*.exe
*.pdb
VelocityMap/VelocityMap/bin/Debug/VelocityMap.pdb
*.lref
VelocityMap/.vs/VelocityMap/v15/.suo
VelocityMap/.vs/VelocityMap/v15/Server/sqlite3/storage.ide
VelocityMap/.vs/VelocityMap/v15/Server/sqlite3/storage.ide-shm
VelocityMap/.vs/VelocityMap/v15/Server/sqlite3/storage.ide-wal
VelocityMap/bulldogForms/obj/Debug/bulldogForms.csproj.CoreCompileInputs.cache
VelocityMap/bulldogForms/obj/Debug/bulldogForms_MarkupCompile.cache
VelocityMap/bulldogForms/obj/Debug/bulldogForms_MarkupCompile.lref
VelocityMap/VelocityMap/bin/Debug/VelocityMap.pdb
VelocityMap/VelocityMap/obj/Debug/VelocityMap.csproj.CoreCompileInputs.cache
VelocityMap/VelocityMap/obj/Debug/VelocityMap.csproj.FileListAbsolute.txt
VelocityMap/VelocityMap/obj/Debug/VelocityMap.csproj.GenerateResource.Cache
VelocityMap/VelocityMap/obj/Debug/VelocityMap.pdb
